.parent{
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    justify-content: space-between;
    height: 350px;
    /* align-items: stretch; */
    /* align-items: start; */
    align-items: center;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;

}

.child{
    border: 2px solid rgb(89, 124, 124);
    background-color: rgba(176, 231, 213, 0.719);
    padding: 20px;
    font-size: 28px;
  
   
}